:root {
  --color-primary-liht: #faf4ea;
  --color-primary-dark: #31261a;
  --color-secondari-dark: #a28268;
  --color-brend-normal: #819b57;
  --color-brend-liht: #cfcfbc;
  --color-brend-dark: #465929;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
