.button {
  display: block;
  padding: 10px 24px;
  line-height: 1;
  color: var(--color-primary-liht);
  font-weight: 600;
  background: var(--color-brend-normal);
  border: 2px solid var(--color-brend-normal);
  border-radius: 8px;
  cursor: pointer;

  @media screen and (min-width: $bp-tablet) {
    padding: 16px 32px;
  }

  &:hover {
    color: var(--color-brend-dark);
    background-color: var(--color-primary-liht);
  }
}
