.logo {
  width: 72px;
  height: 38px;

  &__header,
  &__footer {
    fill: var(--color-primary-liht);
  }

  &__header {
    @media screen and (min-width: $bp-tablet) {
      width: 114px;
      height: 56px;
    }
  }

  &__footer {
    @media screen and (min-width: $bp-tablet) {
      width: 108px;
      height: 57px;
    }
  }

  &__mobile {
    color: var(--color-primary-dark);
  }
}
