.contact-section {
  margin-top: 20px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    margin-bottom: 8px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 64px;
      text-align: left;
      margin-bottom: 16px;
    }
  }
  &__text {
    margin-bottom: 24px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 42px;
      line-height: 1;
    }
  }
  &__form-field {
    margin-bottom: 24px;
  }

  &__button {
    display: block;
    margin: 0 auto 16px;
  }

  &__map {
    flex-shrink: 0;
    height: 176px;
    margin: 0 -24px;
    border-radius: 16px;
    border: none;

    @media screen and (min-width: $bp-tablet) {
      margin: auto;
      width: 320px;
      height: 500px;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 600px;
      height: 595px;
    }
  }

  &__terms {
    display: none;
  }
}
